
body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
   
}
.navbar {
    
    text-align:right;
    margin-right: 20px;
    font-size: 20px;
}
.navbar a{
    color: black; 
    text-decoration: none; /*get rid of default underline in css*/
    transition: color 0.5s;
}
h1 {
    color: white;
    text-align:center;


}
.list {
    width: 60%;
    margin:0 auto;
    padding: 10px;

   

}
.list-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
    box-shadow:0px 10px 50px goldenrod;
}
.description {
    color:black;
    font-weight: normal;
}
.list-item a {
    color: blue; 
    font-size: 20px;
    text-decoration: none; /*get rid of default underline in css */
    transition: color 0.5s;
} 